@charset "UTF-8";

.join {
  margin-bottom: 200px;
  flex-direction: column;
  justify-content: space-evenly;
  display: flex;
  background-color: rgb(248, 248, 248);
  height: 400px;
}

.join > h3 {
  font-size: 50px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .join > h3 {
    font-size: 30px;
  }
  .join {
    height: 200px;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 600px) {
  .join {
    height: 200px;
  }
  .join > h3 {
    font-size: 25px;
  }
}
@media screen and (max-width: 400px) {
  .join {
    margin-bottom: 80px;
  }
  .join > h3 {
    font-size: 20px;
  }
}
